Source: astaire
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: astaire
Architecture: any
Recommends: memcached
Depends: astaire-libs
Suggests: astaire-dbg
Description: Astaire, active resynchronisation for memcached clusters

Package: astaire-dbg
Architecture: any
Section: debug
Priority: extra
Depends: astaire (= ${binary:Version}), astaire-libs-dbg (= ${binary:Version}), gdb
Description: Debugging symbols for Astaire

Package: astaire-libs
Architecture: any
Description: Libraries for Astaire, active resynchronisation for memcached clusters

Package: astaire-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: astaire-libs (= ${binary:Version}), gdb
Description: Debugging symbols for Astaire's libraries
